<form action="/subscribers/search" method="GET" class="mb-4">
    <div class="row">
      <div class="col-md-5">
        <input type="text" name="name" class="form-control" placeholder="Nom"
               value="<%= searchQuery.name || '' %>">
      </div>
      <div class="col-md-5">
        <input type="text" name="zipCode" class="form-control" placeholder="Code postal"
               value="<%= searchQuery.zipCode || '' %>" pattern="\d{5}">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Rechercher</button>
        <a href="/subscribers" class="btn btn-secondary">Réinitialiser</a>
      </div>
    </div>
  </form>
<table class="styled-table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Code Postal</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% subscribers.forEach(subscriber => { %>
    <tr>
      <td><a href="<%= `/subscribers/${subscriber._id}` %>"><%= subscriber.name %></a></td>
      <td><%= subscriber.email %></td>
      <td><%= subscriber.zipCode %></td>
      <td>
        <form action="/subscribers/<%= subscriber._id %>?_method=DELETE" method="POST">
          <button type="submit">Supprimer</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<a href="/subscribers/new">Créer un nouvel abonné</a>
